@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body { height:100%;}

body {font-family: 'Roboto', sans-serif;font-size:16px;font-weight:400;}

#mck-sidebox,
[hidden] {display: none !important;}

input[type=text]::-ms-clear{display: none !important;width:0 !important; height:0 !important;}

.zoom {zoom: 150%;}

p{ margin:0;}
ul,li{list-style:none; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal; margin:0; padding:0;}
.no-pad { padding:0;}

address{margin:0;}

.clearfix:after{
content: " ";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

::-webkit-input-placeholder {color:#777;opacity:.8}
:-moz-placeholder {color:#777;opacity:.8}
::-moz-placeholder {color:#777;opacity:.8}
:-ms-input-placeholder {color:#777;opacity:.8}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

a,
a:link,
a:active,
.btn:focus,
.btn:active,
.btn{outline:none; text-decoration:none;}

a{color:#00A7F8;}
.grey{color:#6E6E6E;}
.blue{color:#00A7F8;}

.btn{background: #EBEBEB;color: #fff;padding:18px 30px;font-size: 16px;line-height: 16px;font-weight:500;}
.btn-primary,
.btn-primary:hover,
.btn-primary.active:focus,
.btn-primary.active:hover{background: #00A7F8 !important;border-color: #00A7F8 !important;color: #fff;}

.btn-sm{font-size:14px;padding:7px 15px;}
.btn-outline{background:transparent;border-color:#95989a;color:#95989A;}
.btn-outline-primary{background:#fff; border-color:#00A7F8;color:#00A7F8;}
.btn-outline-secondary{background:#EBEBEB; border-color:#EBEBEB;color:#FFF;}

.btn-bottom{display:block;width:100%; position:fixed;bottom:0;z-index:9}
.btn-bottom .btn{border-radius:0;padding:18px 0 20px 0;}
.btn-bottom .btn:hover {color: #fff;}

.btn:active{box-shadow:none;}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline:0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.radio-group{ margin-top: 30px;}
.radio-group span {color: #00a7f8; display: block; font-size: 16px; margin-bottom:15px;}
.radio {margin:0; margin-bottom:20px; display:block;}
.radio input[type="radio"] {display: none;}
.radio input[type="radio"] + label {margin:0;padding:0;color: #B2B2B2;font-weight: normal;}
.radio input[type="radio"] + label span {display: inline-block;width:25px; height: 25px;vertical-align: middle; cursor: pointer; -moz-border-radius: 50%;border-radius: 50%;}
.radio input[type="radio"] + label span {background-color: #fff; border: 1px solid #bbb;}
.radio input[type="radio"]:checked + label{color:#777}
.radio input[type="radio"]:checked + label span {background-color: #00A7F8;border: 1px solid #bbb;box-shadow:inset 0 0 0 2px #fff;}
.radio input[type="radio"] + label span,
.radio input[type="radio"]:checked + label span { -webkit-transition: background-color 0.4s linear; -o-transition: background-color 0.4s linear; -moz-transition: background-color 0.4s linear; transition: background-color 0.4s linear;margin:0; margin-right: 7px;}

.docitt-btn {padding: 9px 4px;font-size: 18px;text-transform: uppercase;border-radius: 4px;}
.docitt-btn[disabled] {opacity: 3.8;}
.docitt-btn[primary] {border: 2px solid #00a7f8;background: #00a7f8;color: #fff;}
.docitt-btn[outline] {border: 2px solid #00a7f8;background: #ffffff;color: #00a7f8;}

.backbtn {margin-top: 10px;}
.backbtn .df {font-size:24px; width:24px; height:24px; line-height:24px; margin-right:10px;color: #95989A;}
.backbtn .df:before {line-height:24px;vertical-align: middle}
.backbtn button{border: 0;border-radius: 0;background: transparent;padding: 0;	margin: 0;}
.backbtn button,
.backbtn a{font-size:24px;color: #95989A;}

.backbtn button:hover,
.backbtn a:hover,
.backbtn button:focus,
.backbtn a:focus,
.backbtn button:hover .df,
.backbtn button:focus .df,
.backbtn a:hover .df,
.backbtn a:focus .df {color: #00A7F8;}

.header{background:#125071;float:none; max-height:60px;}
.header.grey{background:#fafafa;}
.header.nobg {background: #fff;}
.logo { float:left; margin-top:16px; margin-left:20px; display:inline-block;}
.logo img{width:80px}

/*header nav bar*/
.navbar {margin:0}
.navbar-fixed-top {z-index: 9;border:0;padding-right:18px;}
.navbar-fixed-top .navbar-collapse {border: 0;}
.navbar-toggle {margin:0;margin-top: 14px;position: absolute;float:none;left:10px;}
.navbar-toggle .icon-bar {background: #00a7f8;}

.navbar-nav li a {padding:0 10px;line-height:60px;}
.navbar-nav li:last-child a{padding:5px 10px;margin-right:0;}
.navbar-nav .df{color:#00A7F8;font-size:32px;}
.navbar-nav .df-help,
.navbar-nav .df-email{font-size:28px;}
.navbar-nav .number{margin:0;width:25px;height:25px;line-height:25px; font-weight:700;position:absolute;top:8px;right:7px; background:#00BDBF; color:#fff;font-size: 12px;}

.navbar-nav > li:last-child{display:inline-block;width:150px}
.navbar-nav > li:last-child a{color:#cccccc;}
.navbar-nav > li:last-child span{height: 50px;line-height: 16px;vertical-align: middle;display: table-cell;}
.navbar-nav > li:last-child span strong{display:block;color:#00A7F8; font-weight:normal}

.navbar-nav li:last-child .dropdown-menu {top:99%;border-radius:0;padding:0;margin:0;min-width: 183px;box-shadow:none;}
.navbar-nav li:last-child .dropdown-menu li{border-top:1px solid #fff}
.navbar-nav li:last-child .dropdown-menu li span{height:auto;display:block;color:rgba(255,255,255,0.77);}
.navbar-nav li:last-child .dropdown-menu li a{background:#58595B;color:#fff;padding:10px 20px;}

.navbar-nav .dropdown-menu{padding:0;}

.navbar-right { margin:0;}
.navbar-right .img-circle{font-size:50px;width:50px;margin-right:10px;}
.navbar-right .fa{padding-left:15px;font-size: 24px;display: table-cell; vertical-align:middle}
.dropdown.open{background:#58595B;}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {background-color: #58595B;border:0;}
.nav li a:focus,
.nav li a:hover{background:transparent;}

.container {width:84%;padding:0;}
.content-wrap {transition: padding-left 0.5s;width:100%;margin: 0 auto;}

@media only screen and (max-width:1260px){
.container {width:100%;padding-left:15px;padding-right:15px;}
}

@media only screen and (min-height:800px){
.btn-bottom{ position:fixed;margin:0;left:0;bottom:0;}
}
@media only screen and (max-width:767px){
.header{max-height:inherit}
	
.navbar-fixed-top {padding:0;}
.navbar-header{text-align:center;}

.navbar-collapse.in {overflow-y: inherit;}
.navbar-collapse {padding:0;text-align: center;}

.navbar-toggle .icon-bar {width: 22px;transition: all 0.2s;}
.navbar-toggle .top-bar {transform: rotate(45deg);transform-origin: 10% 10%;}
.navbar-toggle .middle-bar {opacity: 0;}
.navbar-toggle .bottom-bar {transform: rotate(-45deg);transform-origin: 10% 90%;}
.navbar-toggle.collapsed .top-bar {transform: rotate(0);}
.navbar-toggle.collapsed .middle-bar {opacity: 1;}
.navbar-toggle.collapsed .bottom-bar {transform: rotate(0);}

.logo {float:none;margin: 17px 0; display:block; text-align:center;}

.navbar-nav > li {display: inline-block;vertical-align: top;}
.navbar-nav .open a:hover{background-color:transparent;}
.navbar-nav .open .dropdown-menu{width:100%;position:relative;}
.navbar-nav .open .dropdown-menu.prfle{width:auto;}
.navbar-nav .open .dropdown-menu > li > a {padding: 5px 0;}

.nav-tabs {margin-bottom:30px;}
}

@media only screen and (max-width:380px){
.nav-tabs > li > a{padding: 10px 5px;font-size: 12px;}
.dropdown.open .dropdown-menu.helpdrop {left:0;}
}

@media only screen and (max-width:330px){
.dropdown.open .dropdown-menu.helpdrop {left:-100%;}
}

/*custom styles*/
.col-center{ float:none; display:inline-block;}
.content-wrapper{display:block;width:100%;padding-top:60px;height:100vh; vertical-align:top}
.container-fluid{ display:table;width:100%;height:100vh; margin:0 auto; position:absolute;top:0;}
.vertical-center{ display:table-cell;vertical-align:middle;}

.landing_bg {background: url("../images/City_Scape.png") no-repeat bottom center;height:100vh;width: 100%;position: absolute;background-size: 100%;}

.login_social {width:100%; margin-bottom:10px;}
.login_social .fb{background:url(../images/icn-fb.png) no-repeat center;background-size:100%;}
.login_social .in {background:url(../images/icn-in.png) no-repeat center;background-size:100%;margin-left:2%}
.login_social .btn{background-size:100%;width:48%; height:52px;border:2px solid #c3c3c3;border-radius:5px;}

.login-form p{ margin-bottom:20px;}
.login-form .input-group {width:100%;margin-bottom:5px;position:relative; }
.login-form .btn-primary {width:100%;}
.login-form .or_div { text-align:center; color:#b2b2b2; width:100%; margin:6px 0; font-size:18px;}
.login-form .forgot_it a{font-size:13px; color:#00BDBF;}
.login-form .form-control{border:0;border-bottom:1px solid #9c9e9f;box-shadow:none;}

.login_terms_div{ text-align:center; color:#B2B2B2; width:100%; font-size:13px;}
.login_terms_div a {font-size:13px;color:#00BDBF;}

.verify-account .btn{margin-top:0;}

.verify_code{ margin:40px 0;}
.verify_code span { font-size:18px; color:#00A7F8;margin-bottom:10px; display:block;}

.verifcation input {width:15%; text-align:center; float:left; margin:0 1%;border-radius: 4px; padding:13px 10px; border:1px solid #9c9e9f;}
.verifcation input:first-child{ margin-left:0;}
.verifcation input:last-child{ margin-right:0;}

.verify_btn p { color:#5f7d8c; margin:0;font-size:13px; text-align:center;}
.verify_btn a {color: #00a7f8; display: block; font-size:12px; text-align:center; margin-bottom: 20px;}

.havingtrouble a{color:#00BDBF}
.havingtrouble p{ margin-bottom:0;}

.get_started {width:335px;margin:0 auto;}
.get_started.margin0,
.get_started p.margin0 {margin:0 auto;}
.get_started h1{color:#1268AD; margin:0; margin-bottom:10px; font-weight:700; font-size:32px; line-height:32px;}
.get_started h3{color:#1268AD; margin:0; margin-bottom:10px; font-weight:700; font-size:24px; line-height:28px;}
.get_started p{margin:0; margin-bottom:10px;color:#5f7d8c;line-height:20px;}
.get_started .btns{ padding-top:20px;}
.get_started .btns .btn-primary {width:100%;}
.get_started .btns .btn-login {margin-top:15px;}
.get_started .havingtrouble{width:100%; margin-top:20px;}

.begin-here{width:47%; margin:0 auto;margin-top:15%;}
.begin-here p{ margin-bottom:20px;}
.begin-here .btns .btn-primary {width:270px;}

.pace-inactive {display: none;}
.pace .pace-progress {position: fixed;top: 0;right: 100%;z-index: 2000;width: 100%;height: 2px;background: #00a7f8;}
.pace-inactive {display: none;}
.pace-done .nav-header {transition: all 0.5s;}
.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer {-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}

.form-horizontal {padding:0;}
.form-horizontal .input-group {width: 100%;float: left;margin-bottom: 5px;}
.form-horizontal .input-group.password {position: relative;}
.form-horizontal .input-group.password span {position: absolute;right: 2px;bottom: 5px;z-index: 999;}
.form-horizontal .signup_form_btn {padding: 15px 0 2px 0;float: left;width: 100%;}
.form-horizontal .signup_form_btn .signup_btn {margin: 0 0 5px 0;}
.form-horizontal .or_div {text-align: center;color: #b2b2b2;float: left;width: 100%;margin: 0 0 8px 0;font-size: 12px;}
.form-horizontal .forgot-text {margin: 40px 0;}

.cancel-link a{display: block;font-size: 16px;margin-top:5px;color: #21b9b7;}

.welcome-area{margin: 0 auto;margin-top: -8%;width:80%;}
.welcome{display: inline-block;vertical-align: top;margin: 0;padding-left: 20%;padding-right: 7%;text-align: left;}
.welcome h1{color: #1268AD;margin: 0;font-weight: 700;font-size: 40px;}
.welcome h6{color: #125071;font-size: 18px;font-weight: 500;margin:10px 0;}
.welcome p {margin: 0;color: #5f7d8c;font-size: 14px;}
.welcome .loanofficer{margin-top:10px;}
.welcome .loanofficer .df{float:left;color:#eee;font-size:70px;width:70px;height:70px;margin-right: 10px;}
.welcome .loanofficer img {float:left;margin-right: 10px;float: left;width: 70px;vertical-align: top;}

.welcome .loanofficer .name{display: inline-block;font-size: 18px;color: #58595B;margin-top: 10px;}
.welcome .loanofficer .des{display: inline-block;font-size: 14px;color: #00A7F8;}

.getstartbtn {margin: 0 auto;padding-top:20px;display: block;width: 100%;}
.getstartbtn .btn {width: 270px;display: inline-block;}

.welcome {display: inline-block;vertical-align: top;margin: 0;padding: 0;}
.welcome-area .clmn1 {border-right: 1px solid #959595; padding-right:7%;}
.welcome-area .clmn2 {vertical-align: top;padding: 0;text-align: left}
.welcome-area .video {width: 100%;position: relative;margin-top: 25px;text-align:center}
.welcome-area .video img{ max-width:100%;}

.welcome-docit{width:700px;margin:0 auto; margin-top:-10%}
.welcome-docit h1{margin:0;margin-bottom: 15px;color: #1268AD;font-size: 28px;font-weight: 700;}
.welcome-docit h3{margin:0; margin-bottom:10px;color:#1268AD;font-size:22px;font-weight:700;line-height:28px;}
.welcome-docit p{color: #5F7D8C;margin: 0;margin-bottom: 20px;}
.welcome-docit p.blue{color: #00a7f8;}

.getstartbtn{margin: 0 auto;display:block;width:100%;}
.getstartbtn .btn {width: 270px; display:inline-block;}

.input-group {width: 100%;margin-bottom: 5px;}

.toggle-button{margin:0; margin-bottom:5px;background-color: #FFFFFF !important;border-color: #ccc !important;
width:auto !important;padding:4px 15px;color: #1268AD !important;font-size: 13px;line-height:20px;font-weight: normal;outline:0;box-shadow:none}
.toggle-button:hover,
.toggle-button:focus,
.toggle-button.active{color: #FFFFFF !important;background-color: #00A7F8 !important;border-color: #00A7F8 !important;box-shadow:none}
.toggle-button.disabled{color: #ccc !important;}
.toggle-button.disabled:hover,
.toggle-button.disabled:focus{color: #ccc !important;background-color:#fff !important;border-color: #ccc !important;box-shadow:none}
.toggle-button.disabled.active{color: #FFFFFF !important;background-color: #00A7F8 !important;border-color: #00A7F8 !important;box-shadow:none}

.yes-no {display: block;width: 100%;margin-top:3px;}
.yes-no label {display: inline-block; width:auto !important; padding:4px 15px; background: #fff; border: 1px solid #95989A; border-radius: 6px; color: #1268AD; font-size:14px; cursor: pointer;}
.yes-no label.active { background: #00A7F8; border: 1px solid #00A7F8; color: #fff; cursor: default;}

.declaration-container .yes-no label{width:90px !important;}

.dropdown.form-control{border:0 !important;border-radius:0 !important;border-bottom:1px solid #f00 !important;box-shadow:none !important;}

#length-selector .dropdown.form-control{border:0 !important;border-bottom:0 !important;}

.df-info{font-size:20px !important; width:20px; height:20px; line-height:20px; color:#00A7F8}

.floating-group div.ui-label{color:#95989A; font-size:16px;}

.security h1,
.privacypolicy h1, 
.termsofuse h1{color:#5aaebb;font-size:30px; font-weight:500;margin:0; margin-bottom:20px;}
.security h3,
.privacypolicy h3,
.termsofuse h3{color:#5aaebb;font-size:22px;font-weight:500;margin:0;margin-bottom:10px; }
.security h5,
.privacypolicy h5,
.termsofuse h5{color:#43607a;font-size:18px;font-style:italic;margin:0;margin-bottom:20px; }
.security h6,
.privacypolicy h6,
.termsofuse h6{color:#43607a;font-size:16px;font-weight: 500;margin:0;margin-bottom:10px; }
.security p,
.privacypolicy p,
.termsofuse p{color:#43607a;font-size:16px;line-height:22px;font-weight:300;margin:0;margin-bottom:20px;}
.security strong,
.privacypolicy strong,
.termsofuse strong{color:#43607a;font-size:16px;font-weight:500;}
.security a,
.privacypolicy a,
.termsofuse a{color:#5aaebb;font-size:16px;}
.security ul,
.privacypolicy ul,
.termsofuse ul{ display:block;width:100%; margin-left:30px;}
.security ol,
.privacypolicy ol,
.termsofuse ol{ display:block;width:100%;}
.security ul li,
.privacypolicy ul li,
.termsofuse ul li{ list-style:disc;}
.security li,
.privacypolicy li,
.termsofuse li{margin:0;margin-bottom:20px;color:#43607a;font-size:16px; line-height:22px; font-weight:300;}
.security ol li,
.privacypolicy ol li,
.termsofuse ol li{ list-style: decimal;}
.privacypolicy address,
.termsofuse address{font-size:14px;line-height:28px;}

/* modal */
.modal-open .modal{padding:0 !important}
.modal-dialog {
position:absolute;
top:50% !important;
transform: translate(0, -50%) !important;
-ms-transform: translate(0, -50%) !important;
-webkit-transform: translate(0, -50%) !important;
margin:0 auto;
width:100%;
z-index:99999;
}
.modal-content {
margin:0 auto;
padding:30px;
min-height:100%;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
border-radius:0;
}

.modal {z-index: 999999;}
.modal .df-close-o {color: #00A7F8;font-size:26px;width: 26px;height: 26px;}
.modal-header .close{margin:0;opacity: 1;outline: none}

.modal-title {color: #1268AD;font-size: 20px;}
.modal-title .entity-title{ display:none}
#changeEntityStatus .modal-title .entity-title{ display:inline-block}

.modal-header {border: 0;padding: 0;margin-bottom: 20px;}
.modal-footer{border: 0;border-top :1px solid #eee;margin:0;padding:0; padding-top:15px;}

.modal-footer .btn {display: inline-block}
.modal-body {padding: 0;}

#termsOfService .modal-dialog,
#SS1-termsofService .modal-dialog,
.right-content-area .modal-dialog{	height:90vh;}

#termsOfService .modal-content,
#SS1-termsofService .modal-content,
.right-content-area .modal-content{	width:70%;}

#termsOfService .modal-body,
#SS1-termsofService .modal-body,
.right-content-area .modal-body{
	margin:0; margin-top:20px;
	padding:0 30px 0 0;
	height:calc(100% - 60px);
	overflow-x: inherit;
	text-align:left;
}
	 
#termsOfService .modal-header,	 
.right-content-area .modal-header{margin:0;padding:10px 0; padding-bottom:10px;font-size:18px;border-bottom :1px solid #eee;}

.lender-conditions .modal-dialog,
.document-manager .modal-dialog {height:100vh;}

.lender-conditions .modal-content,
.document-manager .modal-content {width:100%; height:100%;}

#confirm .modal-dialog {height:160px;}
#confirm .modal-content {width:360px;}
#confirm .modal-title{ text-align:center}
#confirm .modal-body{display:none}
#confirm .modal-footer{ text-align:center}

.popover {border-radius: 0 !important;}

@media only screen and (max-width: 1023px) {
.modal-content {width: 50%;}

#termsOfService .modal-content,
#SS1-termsofService .modal-content,
.right-content-area .modal-content{	width:70%;}
}
@media only screen and (max-width: 767px) {
.modal-content {width: 70%;}

#termsOfService .modal-body,
#SS1-termsofService .modal-body,
.right-content-area .modal-body{margin-top:15px;}
}

@media only screen and (max-width:600px) {
#termsOfService .modal-body,
#SS1-termsofService .modal-body,
.right-content-area .modal-body{margin-top:10px;}
}
@media only screen and (max-width: 479px) {
.modal-content {width:94%;padding: 20px;}

#termsOfService .modal-content,
#SS1-termsofService .modal-content,
.right-content-area .modal-content{	width:94%;}
}
@media only screen and (max-width: 362px) {
#termsOfService .modal-body,
#SS1-termsofService .modal-body,
.right-content-area .modal-body{height:calc(100% - 90px);}

#confirm .modal-dialog {height:160px;}
#confirm .modal-content {width:300px;}
}


@media only screen and (max-width:1025px) {
.welcome-docit{margin:0 auto;}
}

@media only screen and (max-width:800px) {
.welcome-area{width:90%;}
.welcome-area .clmn1{padding:0; padding-right:5%;}
}

@media only screen and (max-width: 767px) {
.landing_bg {background-size: auto;}

.logo{float:none;}
.vcenter-vspace{padding-top:60px;padding-bottom:48px;}

.get_started {margin:0 auto; margin-bottom:20px;}

.welcome-docit{width:90%;margin:0 auto;}

.welcome-area {margin: 5% auto;}
.welcome {padding: 0;text-align:center}
.welcome-area .clmn1 {vertical-align: top;border: 0;}
.welcome-area .clmn2 {vertical-align: top;border: 0;border-top: 1px solid #959595;margin-top: 30px;padding-top: 30px;text-align: center;}
.welcome .loanofficer{ text-align:left; display:inline-block;}
.welcome-area .video {width: 100%;position: relative;margin: 0;}
.getstartbtn {padding:20px 0;}
}

@media only screen and (max-width: 640px) {
.welcome-area {display: block;overflow: hidden;text-align: center;margin: 5% auto}
.welcome-video > img {width: 100%;}
}

@media only screen and (max-width:479px) {
.popover.right,
.popover.left{left:40px !important; }
	
.popover.left{margin:0;margin-top:60px;}
.popover.left > .arrow {
  top:-5px !important;
  left:47% !important;
  transform: rotate(-90deg);
}

.popover.right{margin:0;margin-top:66px;}
.popover.right > .arrow {
  top:-5px !important;
  left:47% !important;
  transform: rotate(90deg);
}
	
.welcome-area {margin: 2% auto;}
.getstartbtn {padding:20px 20px 0 20px;}
.getstartbtn .btn{width:100%;}
}

@media only screen and (max-width:380px) {
.get_started {width: 100%;padding: 0 20px;} 
.get_started h1 {font-size: 30px;}

.toggle-button{width:auto !important;min-width:auto;margin-right:0;padding:6px 10px;}
.yes-no label{width:50px;min-width:50px;padding: 3px 0;}
}
@media only screen and (max-width:367px) {
.popover.right,
.popover.left{left:20px !important; }
}

:host {--form-control-border-has-error: 0;}

:host::content .question-label{font-size:10pt;color:#979595;padding-bottom: 5px;}