@charset "UTF-8";

@font-face {
	font-family: "docitt-font";
	src:url("../fonts/docitt-font.eot");
	src:url("../fonts/docitt-font.eot?#iefix") format("embedded-opentype"),
		url("../fonts/docitt-font.woff") format("woff"),
		url("../fonts/docitt-font.ttf") format("truetype"),
		url("../fonts/docitt-font.svg#docitt-font") format("svg");
	font-weight: normal;
	font-style: normal;
}

.df{
	display:inline-block;
	font: normal normal normal 14px/1 "docitt-font";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.df-close:before {
  content: "\61";
}
.df-location:before {
  content: "\63";
}
.df-alert:before {
  content: "\64";
}
.df-back:before {
  content: "\65";
}
.df-banking:before {
  content: "\66";
}
.df-bell:before {
  content: "\67";
}
.df-calculator:before {
  content: "\68";
}
.df-calendar:before {
  content: "\69";
}
.df-chat:before {
  content: "\6a";
}
.df-circle:before {
  content: "\6b";
}
.df-close-o:before {
  content: "\6c";
}
.df-coins:before {
  content: "\6d";
}
.df-comments:before {
  content: "\6e";
}
.df-document:before {
  content: "\6f";
}
.df-inc-selfemp:before {
  content: "\70";
}
.df-inc-rental:before {
  content: "\71";
}
.df-inc-mpay:before {
  content: "\72";
}
.df-inc-emp:before {
  content: "\73";
}
.df-inc-dividend:before {
  content: "\74";
}
.df-inc-child:before {
  content: "\75";
}
.df-help:before {
  content: "\76";
}
.df-handcoins:before {
  content: "\77";
}
.df-expire:before {
  content: "\78";
}
.df-email:before {
  content: "\79";
}
.df-download:before {
  content: "\7a";
}
.df-double:before {
  content: "\41";
}
.df-dollar:before {
  content: "\42";
}
.df-inc-ssecurity:before {
  content: "\43";
}
.df-invite:before {
  content: "\45";
}
.df-line-bar:before {
  content: "\46";
}
.df-lock:before {
  content: "\47";
}
.df-lockopen:before {
  content: "\48";
}
.df-locksmopen:before {
  content: "\49";
}
.df-message:before {
  content: "\4a";
}
.df-messages:before {
  content: "\4b";
}
.df-mobile:before {
  content: "\4c";
}
.df-next:before {
  content: "\4d";
}
.df-s1d:before {
  content: "\4e";
}
.df-s1c:before {
  content: "\4f";
}
.df-s1b:before {
  content: "\50";
}
.df-s1a:before {
  content: "\51";
}
.df-refinance:before {
  content: "\52";
}
.df-quote:before {
  content: "\53";
}
.df-purchase:before {
  content: "\54";
}
.df-prev:before {
  content: "\55";
}
.df-plus:before {
  content: "\56";
}
.df-phone:before {
  content: "\57";
}
.df-notes2:before {
  content: "\58";
}
.df-notes:before {
  content: "\59";
}
.df-s1e:before {
  content: "\30";
}
.df-s1f:before {
  content: "\31";
}
.df-s1g:before {
  content: "\32";
}
.df-s1h:before {
  content: "\33";
}
.df-s1i:before {
  content: "\34";
}
.df-s1j:before {
  content: "\35";
}
.df-s1k:before {
  content: "\36";
}
.df-s1l:before {
  content: "\37";
}
.df-s1m:before {
  content: "\38";
}
.df-s1n:before {
  content: "\39";
}
.df-s1o:before {
  content: "\21";
}
.df-s1p:before {
  content: "\22";
}
.df-thumbs-down:before {
  content: "\23";
}
.df-write:before {
  content: "\24";
}
.df-upload:before {
  content: "\25";
}
.df-trash:before {
  content: "\26";
}
.df-tick-circle:before {
  content: "\27";
}
.df-tick:before {
  content: "\28";
}
.df-thumbs-up:before {
  content: "\29";
}
.df-no-user:before {
  content: "\5a";
}
.df-no-user2:before {
  content: "\2a";
}
.df-locksm:before {
  content: "\62";
}
.df-info:before {
  content: "\44";
}
.df-attach:before {
  content: "\2c";
}
.df-soc-fb:before {
  content: "\2d";
}
.df-soc-tw:before {
  content: "\2e";
}
.df-soc-in:before {
  content: "\2f";
}
.df-smile:before {
  content: "\3a";
}
.df-sync:before {
  content: "\2b";
}
