<link rel="import" href="/components/radioButtonGroup.html">
<dom-module id="component-tester">
    <template>
        <h1>component tester</h1>
        <radio-button-group button-names="{{ buttons }}" group-value="{{ 'ach' }}"></radio-button-group>
    </template>
    <script>
        Polymer({
            is: "component-tester",
            properties: {
                buttons: {
                    value: function () {
                        return [
                            {
                                label: 'check',
                                value: 'check'
                            },
                            {
                                label: 'ach',
                                value: 'ach'
                            }
                        ]
                    }
                }
            }
        })
    </script>
</dom-module>