<link rel="import" href="/components/core/services/http.html">
<dom-module id="alloy-config">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        (function() {
            var Configuration = function() {
                this.is = "alloy-config",
                this.properties = {
                    configReady: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    configFailed: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    alloyConfiguration: {
                        type: Object,
                        notify: true
                    },
                    alloyTenant: {
                        type: Object,
                        notify: true
                    }
                },
                this.ready = function() {
                    var self = this;
                    self.getAlloyConfig();
                },
                this.getAlloyConfig = function() {
                    var self = this;
                    
                    var configSet = Configuration.prototype.configReady;
                    if (configSet) {
                        self.alloyConfiguration = Configuration.prototype.configuration;
                        self.services = Configuration.prototype.services;
                        self.configReady = true;
                        return;
                    }
                    self.getConfigService("CONFIG_PORTAL", function(data) {
                        var alloyConfiguration = {};
                        for (var config in data) {
                            Configuration.prototype.configuration[config] = alloyConfiguration[config] = data[config];
                        }
                        self.alloyConfiguration = alloyConfiguration;
                        Configuration.prototype.configReady = self.configReady = true;
                    });
                    // Merge with Above call
                    // Below is so that legacy components work
                    self.getConfigProperty("alloy", "services", function(data) {
                        self.services = {};
                        for (var service in data) {
                            Configuration.prototype.services[service] = self.services[service] = data[service];
                        }
                    });
                    self.getConfigService("alloy", function(data) {
                        //TODO: Remove once setting window.config to portal config
                        window.config = self.config = data;
                    });
                },
                this.getConfigService = function(service, callback) {
                    return this.$.http.get("/configuration/" + service, "//" + window.location.host, callback);
                },
                this.getConfigProperty = function(service, property, callback) {
                    return this.$.http.get("/configuration/" + service + "/" + property, "//" + window.location.host, callback);
                },
                this.getConfiguration = function() {
                    return Configuration.prototype.configuration;
                },
                this.getAppConfiguration = function(microApp) {
                    return Configuration.prototype.configuration.apps[microApp].configuration;
                }
            }
            
            Configuration.prototype.configReady = false;
            Configuration.prototype.configuration = {};
            Configuration.prototype.services = {};
            
            var config = new Configuration();
            Polymer(config);
        })();
    </script>
</dom-module>
