<link rel="import" href="/components/event/hub.html">
<dom-module id="error-reporter">
    <style>
        .error-wrapper {
            background-color: #F7F7F7;
            border: 1px #ddd solid;
            max-height: 200px;
        }
        .error-header {
            height: 40px;
            padding: 10px 5px;
            border-bottom: 2px solid lightgrey 
        }
        .error-body {
            padding: 10px;
            /* Height === 200px - border-width - padding-height*/
            max-height: 158px;
            overflow-y: scroll;
        }
        .error {
            color: red;
        }
        .fa-times {
            padding-right: 5px;
        }
    </style>
    <template>
        <div class="error-wrapper">
            <div class="error-header" on-click="toggleErrors">
                <span><i class="fa fa-times-circle error"></i> <span>{{errorMessages.length}}</span> Error(s) found</span>
                <span class="pull-right"><i class="fa fa-times" on-click="hideErrorReporter"></i></span>
            </div>
            <div class="error-body" hidden$="{{errorsHidden}}">
                <template is="dom-repeat" items="{{errorMessages}}" as="error">                    
                    <div><i class="fa fa-times-circle error"></i> Line <span>{{error.line}}</span> - Column <span>{{error.column}}</span>: <span>{{error.message}}</span></div>
                </template>
            </div>
        </div>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "error-reporter",
            observers: ["showHeader(headerVisible)"],
            properties: {
                errorCount: {
                    type: Number,
                    notify: true,
                },
                errorMessages: {
                    type: Array,
                    notify: true
                },
                headerVisible: {
                    type: Boolean,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                self.errorsHidden = true;
                
                self.errorMessages;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    
                }
            },
            // Open and close body
            toggleErrors: function() {
                this.errorsHidden = !this.errorsHidden;
                // If opening errors body, reset codeMirror height;
                if (!this.errorsHidden) {
                    this.$.hub.publish('decision-engine:set-size', {
                        height: 464 - (23 * +this.errorMessages.length) + "px",
                        width: "100%"
                    });
                    return
                }
                this.$.hub.publish('decision-engine:set-size', {
                    height: "464px",
                    width: "100%"
                });
            },
            showHeader: function() {
                if (!this.headerVisible) { return }
                this.$.hub.publish('decision-engine:set-size', {
                    // +4px for padding
                    height: "464px",
                    width: "100%"
                });
            },
            // Hide error reporter
            hideErrorReporter: function(e) {
                this.headerVisible = false;
                this.errorsHidden = true;
                e.stopPropagation();
                this.$.hub.publish('decision-engine:set-size', {
                    height: "500px",
                    width: "100%"
                });
            }
        });
    </script>
</dom-module>