<link rel="import"
    href="/components/core/services/config.html">
<link rel="import"
    href="/components/core/services/tenant.html">
<link rel="import"
    href="/components/core/core/micro-app.html">
<link rel="import"
    href="/components/core/core/html-import.html">
<link rel="import"
    href="/components/core/core/img.html">
<link rel="import"
    href="/components/core/services/session-manager.html">
<link rel="import"
    href="/components/core/services/url-parser.html">
<dom-module id="platform-shell">
    <style>
        #host {
            height: 100%;
        }
    </style>
    <template>
        <div id="host"></div>
        <session-manager id="session"
            security-service-url="{{ configuration.services.security  }}"></session-manager>
        <alloy-config id="coreConfig"
            alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant"
            alloy-tenant="{{tenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "platform-shell",
            observers: [
                "importComponents(configuration, appId, tenant)"
            ],
            properties: {
                appId: {
                    type: Boolean,
                    value: ""
                }
            },
            ready: function () {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;

                self.authorization = null;
                self.configuration = null;

                return function () {
                    self.setAppId();
                    window.addEventListener("hashchange", function () {
                        self.setAppId();
                    });
                }
            },
            setAppId: function () {
                var splitUrl = window.location.hash.slice(2).split('/');
                var urlAppId = splitUrl[0];
                if (this.appId !== urlAppId) {
                    this.set("appId", urlAppId);
                }
            },
            initAuthHeartBeat: function () {
                var self = this;
                self.authHeartBeat = setInterval(function () {
                    self.$.session.isAuthorized()
                        .done(function () {
                        })
                        .fail(function () {
                            clearInterval(self.authHeartBeat);
                            window.location.hash = self.configuration.public.url;
                        });
                }, 30000)
            },
            importComponents: function (configuration, appId, tenant) {
                if (configuration && tenant && !appId) {
                    window.location.hash = this.configuration.public.url;
                }
                if (!configuration || !appId || !tenant) { return }
                var self = this;
                var base = configuration.base;
                var currentApp = configuration.apps[appId];

                var loadLayout = function (authorizationStatus) {
                    // Choose either the selected app layout or a default layout
                    var layout = currentApp && currentApp.layout ||
                        configuration[authorizationStatus].layout;

                    var url = base + tenant.name + "/" + layout;

                    self.importHref(url, function (e) {
                        // Block loading if layout has already loaded
                        if (self.layoutLoaded(e)) { return }
                        self.attachComponent(e);
                    });
                }

                // If the app is open to unauthenticated users, stop checking for authentication and use public layout
                if (currentApp.public) {
                    if (self.authHeartBeat) {
                        clearInterval(self.authHeartBeat);
                    }
                    loadLayout("public");
                    return;
                }

                // Check authorization from authorization service
                // If authentication is required, begin heartbeat and use private layout
                self.$.session.isAuthorized()
                    .done(function (response) {
                        self.initAuthHeartBeat();
                        loadLayout("private")
                    })
                    .fail(function (error) {
                        if (self.authHeartBeat) {
                            clearInterval(self.authHeartBeat);
                        }
                        window.location.hash = configuration.public.url;
                    });
            },
            layoutLoaded: function (e) {
                var id = Polymer
                    .dom(e.target.import.body)
                    .querySelector("dom-module")
                    .getAttribute("id");
                return id === this.loadedLayout;
            },
            // get attrs
            attachComponent: function (e, target) {
                target = target || Polymer.dom(this.$.host);

                var childNodes = target.childNodes;
                for (var i = 0; i < childNodes.length; i++) {
                    target.removeChild(childNodes[i]);
                }

                var id = Polymer
                    .dom(e.target.import.body)
                    .querySelector("dom-module")
                    .getAttribute("id");
                var element = document.createElement(id);
                //TODO: Set the portal service configuration (this.configuration.services) to window.config.service
                element.config = this.configuration;

                target.appendChild(element);
                target.flush();

                this.loadedLayout = id;
            }

        });
    </script>
</dom-module>