<link rel="import" href="">
<dom-module id="test-component">
    <style>
    </style>
    <template>
        <div>TEST-COMPONENT!!!</div>
    </template>
    <script>
        Polymer({
            is: "test-component"
            
        });
    </script>
</dom-module>