<dom-module id="test-layout">
    <style>
    </style>
    <template>
        <div class="left pull-left"></div>
        <div class="right pull-right"></div>
    </template>
    <script>
        Polymer({
            is: "test-layout",
            ready: function() {
            },
            attached: function() {
            }
        });
    </script>
</dom-module>